*{
    box-sizing: border-box; 
    font-size: 20px;
    font-family: Cambria, sans-serif;
}

h3{
    font-weight: bolder;
}

.forecast{
    
    font-size: 0.9em;
}

span{
    font-size: 1em;
}

li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}

.navbar-text{
font-size: 40px;
}
.navbar {
    margin-bottom: 15px;
}

#future-weather{
 margin-top: 50px;
 min-width: 150%;
}
